<body>
  <%= render "shared/navbar" %>

  <img class="header-illust" src=<%= @header_pic_url %>>
  
  <div class="panel panel-default">
    <div class="panel-heading">
      <a href="/"><h3 class="panel-title">â†BACK</h3></a>
    </div>
    <div class="panel-body">
      <div class="container">
	<ul class="illust-large">
	  <li><h3><%= @data.comment %></h3></li>
	  <li><%= @data.account %></li>
	  <li>
	    <% @data.tags_arr.each do |tag| %>
	    <%= tag %> 
	    <% end %>
	  </li>
	  <a href="https://twitter.com/<%= @data.account %>/status/<%= @data.tweet_id %>">
	    <li>
	      <% @data.pic_url.each do |pic_url| %>
	      <img src=<%= pic_url %> class="illust-large-image">
	      <% end %>
	    </li>
	  </a>
	</ul>
      </div>
    </div>
  </div>

</body>
