<body>
  <%= render "shared/navbar" %>
  
  <img class="header-illust" src=<%= @header_pic_url %>>
  
  <div class="panel panel-default">
    <div class="panel-heading">
      <a href="/"><h3 class="panel-title">←BACK</h3></a>
    </div>
    <div class="panel-body">
      <div class="container">
	<ul class="illust-large">
	  <li><h3><%= @data.comment %></h3></li>
	  <li><a href="/gallery/search?keywords=<%= @data.account %>"><%= @data.account %></a></li>
	  <li>
	    <% @data.tags_arr.each do |tag| %>
	    <a href="/gallery/search?keywords=<%= tag %>"><%= tag %></a>
	    <% end %>
	  </li>
	  <li>
	    <%= form_tag(url_for(action: 'illust'), remote: true) do %>
	    <%= text_field_tag :yosami, 1, type: "hidden" %>
	    <%= text_field_tag :tweet_id, @data.tweet_id, type: "hidden" %>
	    <%= button_tag class: "icobutton icobutton-7-ccc-red", id: "yosami" do %>
	    <span class="fa fa-heartbeat fa-3x"></span>
	    <% end %>
	    <big><span id="yosami"><%= @data.yosami %></span>よさみ</big>
	    <% end %>
	  </li>
	  <a href="https://twitter.com/<%= @data.account %>/status/<%= @data.tweet_id %>">
	    <li>
	      <% @data.pic_url.each do |pic_url| %>
	      <img src=<%= pic_url %> class="illust-large-image">
	      <% end %>
	    </li>
	  </a>
	</ul>
      </div>
    </div>
  </div>
  
</body>
