<body>
  <%= render "shared/navbar" %>
  
  <img class="header-illust" src=<%= @header_pic_url %>>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">新着イラスト</h3>
    </div>
    <div class="panel-body">
      <div class="container">
	<% @illust_data.last(6).reverse_each do |data| %>
	<ul class="illust-box col-md-2">
	  <a href="/gallery/illust/<%= data.tweet_id %>">
	    <li><img src=<%= data.pic_url %> class="illust-box-image"></li>
	    <li><%= data.comment.truncate(20) %></li>
	    <li><%= data.tags.truncate(20) %></li>
	  </a>
	</ul>
	<% end %>
      </div>
    </div>
  </div>

</body>
