<body>

  <img class="header-illust" src=<%= @header_pic_url %>>
  
  <h3>MEMBER</h3>

  <table border=1>
    <tr><th>Name</th><th>Twitter</th><th>Memo</th></tr>
    <% @member_data.reverse_each do |member| %>
    <tr>
      <td><a href="/gallery/search?keywords=<%= member.account %>"><%= member.name %></a></td>
      <td><a href="https://twitter.com/<%= member.account %>"><%= member.account %></a></td>
      <td><%= member.memo %></td>
    </tr>
    <% end %>
  </table>
</body>
