<body>
  <%= render "shared/navbar" %>

  <img class="header-illust" src=<%= @header_pic_url %>>
  
  <h3>MEMBER</h3>

  <table border=1>
    <tr><th>Name</th><th>Twitter</th><th>Memo</th></tr>
    <% @member_data.reverse_each do |member| %>
    <tr>
      <td><%= member.name %></td>
      <td><%= member.account %></td>
      <td><%= member.memo %></td>
    </tr>
    <% end %>
  </table>
</body>
