<body>
  <%= render "shared/navbar" %>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">イラスト一覧</h3>
    </div>
    <div class="panel-body">
      <div class="container">
	<% @illust_data.reverse[(@page-1)*12, 12].each do |data| %>
	<ul class="illust-box col-md-2">
	  <a href="/gallery/illust/<%= data.tweet_id %>">
	    <li><img src=<%= data.pic_url.first %> class="illust-box-image"></li>
	    <li><%= data.comment.truncate(20) %></li>
	    <li><%= data.tags.join(" ").truncate(20) %></li>
	  </a>
	</ul>
	<% end %>
      </div>
    </div>
    <ul class="pager">
      <% (@illust_data.size/12 + 1).times do |i|%>
      <a href="/gallery/search?keywords=<%= params['keywords'] %>&page=<%= i + 1 %>">
	<li><%= i + 1 %></li>
      </a>
      <% end %>
    </ul>
  </div>

</body>
