<body>

  <img class="header-illust" src=<%= @header_pic_url %>>
  
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">
	<%= (params['keywords'].nil?)? "イラスト一覧" : ("検索結果：" + params['keywords']) %>
      </h3>
    </div>
    <div class="panel-body">
      <div class="container">
	<% @illust_data.reverse[(@page-1)*12, 12].each do |data| %>
	<ul class="illust-box col-md-2">
	    <li>
	      <a href="/gallery/illust/<%= data.tweet_id %>">
		<img src=<%= data.pic_url.first %> class="illust-box-image">
		<br><%= data.comment.truncate(20) %></h4>
	      </a>
	      <br><%= data.account %>
	      <br><%= data.tags_arr.join(" ").truncate(20) %>
	    </li>
	</ul>
	<% end %>
      </div>
    </div>
    <ul class="pager">
      <% (@illust_data.size/12 + 1).times do |i|%>
      <a href="/gallery/search?keywords=<%= params['keywords'] %>&page=<%= i + 1 %>">
	<li><%= i + 1 %></li>
      </a>
      <% end %>
    </ul>
  </div>

</body>
